<section>
  <mat-grid-list cols="4" rowHeight="1.25:1">
    <mat-grid-tile *ngFor="let seed of seeds">
        <mat-grid-tile-header>
          <p>
              {{seed.name}}
          </p>
          </mat-grid-tile-header>
        <a href={{seed.url}} target="_blank">
          <img src={{seed.image}} alt={{seed.imageAlt}} height="150" />
        </a>
        <mat-grid-tile-footer>
          <article>
            Author: <a href={{seed.url}} target="_blank">{{seed.author}}</a>
          </article>
        </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
</section>