<mat-grid-list cols="4" rowHeight="1.25:1">
  <mat-grid-tile>
      <mat-grid-tile-header>
        <p>
          Angular 4
        </p>
        </mat-grid-tile-header>
      <a href="https://github.com/mgechev/angular-seed" target="_blank">
        <img src="../assets/images/angular.svg" alt="angular logo" height="150" />
      </a>
      <mat-grid-tile-footer>
        <a href="https://github.com/mgechev/angular-seed" target="_blank">Minko Gechev</a>
      </mat-grid-tile-footer>
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-grid-tile-header>
        <p>
          React.js
        </p>
      </mat-grid-tile-header>    
      <a href="https://github.com/badsyntax/react-seed" target="_blank">
        <img src="../assets/images/react.svg" alt="react logo" height="150" />
      </a>
      <mat-grid-tile-footer>
        <a href="https://github.com/badsyntax/react-seed" target="_blank">Richard Willis</a>
      </mat-grid-tile-footer>    
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-grid-tile-header>
        <p>
          Django
        </p>
      </mat-grid-tile-header>    
      <a href="https://github.com/Brobin/django-seed" target="_blank">
        <img src="../assets/images/django.png" alt="django logo" height="150" />
      </a>
      <mat-grid-tile-footer>
        <a href="https://github.com/Brobin/django-seed" target="_blank">Tobin Brown</a>
      </mat-grid-tile-footer>    
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-grid-tile-header>
        <p>
          Angular
        </p>
      </mat-grid-tile-header>    
      <a href="https://github.com/angular/angular-seed" target="_blank">
        <img src="../assets/images/angular.svg" alt="react logo" height="150" />
      </a>
      <mat-grid-tile-footer>
        <a href="https://github.com/angular/angular-seed" target="_blank">Angular</a>
      </mat-grid-tile-footer>    
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-grid-tile-header>
        <p>
          Angular 4
        </p>
        </mat-grid-tile-header>
      <a href="https://github.com/mgechev/angular-seed" target="_blank">
        <img src="../assets/images/angular.svg" alt="angular logo" height="150" />
      </a>
      <mat-grid-tile-footer>
        <a href="https://github.com/mgechev/angular-seed" target="_blank">Minko Gechev</a>
      </mat-grid-tile-footer>
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-grid-tile-header>
        <p>
          React.js
        </p>
      </mat-grid-tile-header>    
      <a href="https://github.com/badsyntax/react-seed" target="_blank">
        <img src="../assets/images/react.svg" alt="react logo" height="150" />
      </a>
      <mat-grid-tile-footer>
        <a href="https://github.com/badsyntax/react-seed" target="_blank">Richard Willis</a>
      </mat-grid-tile-footer>    
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-grid-tile-header>
        <p>
          Django
        </p>
      </mat-grid-tile-header>    
      <a href="https://github.com/Brobin/django-seed" target="_blank">
        <img src="../assets/images/django.png" alt="django logo" height="150" />
      </a>
      <mat-grid-tile-footer>
        <a href="https://github.com/Brobin/django-seed" target="_blank">Tobin Brown</a>
      </mat-grid-tile-footer>    
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-grid-tile-header>
        <p>
          Angular
        </p>
      </mat-grid-tile-header>    
      <a href="https://github.com/angular/angular-seed" target="_blank">
        <img src="../assets/images/angular.svg" alt="react logo" height="150" />
      </a>
      <mat-grid-tile-footer>
        <a href="https://github.com/angular/angular-seed" target="_blank">Angular</a>
      </mat-grid-tile-footer>    
  </mat-grid-tile>
</mat-grid-list>